body{
    width:30%;
    margin: 5% 35%;
    text-align: center;
    align-items: center;
}

.input-group {
    position: relative;
    margin: 40px 0 20px;
}

input {
    font-size: 15px;
    padding: 16px;
    display: block;
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    color: black;
    caret-color: grey;
    caret-shape: underscore;
}


input:focus{
    outline: 1px solid grey;
}


label {
    color: grey;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 16px;
    top: 16px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

input:focus ~ label,
input:valid ~ label {
    top: -10px;
    font-size: 16px;
    color: grey;
    background-color: white;
    padding: 0 4px;
}






