.menue{
    float: left;
    width:100%;
    margin-bottom:5%;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 25px 0;
    font-size: 16px;
    border: none;
    width:100%;

}

.leftdropdwn{
    border-radius: 10px 0 0 10px;
}

.leftdropdwn:hover{
    border-radius: 10px 0 0 0;
}

.dropdown:hover .leftdropdwn{
    border-radius: 10px 0 0 0;
}

.rightdropdwn{
    border-radius: 0 10px 10px 0;
}

.rightdropdwn:hover{
    border-radius: 0 10px 0  0;
}

.dropdown:hover .rightdropdwn{
    border-radius: 0 10px 0  0;

}


.dropdown {
    float:left;
    width:20%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    float: left;
    position: absolute;
    background-color: rgb(70,70,70);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width:100%;
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
}

.dropdown-content a {
    color: white;
    padding: 25px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255,255,255,0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(70,70,70);
}

/*________Menue2_____________________________________________________________________________________________________________________________*/

.menue2{
    float: left;
    width:100%;
    margin-bottom:5%;
}

.dropbtn2 {
    background-color: rgb(200,200,200);
    color: rgb(70,70,70);
    padding: 25px 0;
    font-size: 16px;
    border: none;
    width:100%;

}

.leftdropdwn2{
    border-radius: 10px 0 0 10px;
}

.leftdropdwn2:hover{
    border-radius: 10px 0 0 0;
}

.dropdown2:hover .leftdropdwn2{
    border-radius: 10px 0 0 0;
}

.rightdropdwn2{
    border-radius: 0 10px 10px 0;
}

.rightdropdwn2:hover{
    border-radius: 0 10px 0  0;
}

.dropdown2:hover .rightdropdwn2{
    border-radius: 0 10px 0  0;

}


.dropdown2 {
    float:left;
    width:20%;
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    float: left;
    position: absolute;
    background-color: rgb(185,185,185);
    box-shadow: 0 10px 16px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width:100%;
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
}

.dropdown-content2 a {
    color: rgb(70,70,70);
    padding: 25px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    background-color: rgba(0,0,0,0.1);
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    background-color: rgb(185,185,185);
}